# Assignment Answers

# 1.

##### Part-1:<br><br>
- MongoDB is a non-relational type database.
- It stores data in the form of document, which is nothing but a JSON like structure.
- It uses collection to store many documents in it.<br><br>
##### Paet-2:<br><br>
- It is a category of database which do not use table like structure to store data in it.
- Unlike relational databases, non-relational databases do not define a schema first.
- Cassandra, Neo4j are some of the examples of non-relational databases.<br><br>
##### Part-3: The MongoDB is good for the following scenarios;<br><br>
- when there is a need to store large and diverse amounts of data..
- when data is need to be delivered in high-performance applications.
- when there will be a huge traffic to be handled, which can be managed easily by the scale-out architecture of MOngoDB. <br><br>

# 2.

- It stores the data in two servers i.e., __primary__ and __secondary server__, which can help to prevent any lose of data due to failure of primary server.
- It supports field queries, range queries, and regular expression searches.
- It provides indexing appropriately for better query executions.
- It  allows for much greater horizontal scalability using sharding.
- It supports large-scale load balancing.<br>

# 3.

 - At first, we need to import __pymongo__ library to connect python with MongoDB.<br>
- Then establish a connection with MongoDB Atlas using connection link by providing username and password there.

In [ ]:
pip install pymongo library

In [ ]:
# Importing pymongo library
import pymongo

In [ ]:
# Establishing Connection
client = pymongo.MongoClient("mongodb+srv://amrit066:pwskills@sandbox.2ldq2.mongodb.net/?retryWrites=true&w=majority")

In [ ]:
# Creating Database
collection= client["Pw_Skills_Assignment"]

# Creating Document
doc=collection["Assignment-1"]

# 4.

##### Part-1: For inserting one record.<br>

In [7]:
# Inserting Value Into Collection
data1={
    "Name":"Abhay Singh",
    "Course":"Data Science Masters"
}

# Inserting only one value at a time
doc.insert_one(data1)

##### Part-2: For inserting many record.<br>

In [8]:
list_data=[
    {
        "Name":"Md. Zaid Ahmed",
        "Course":"Full Stack Development"
    },
     {
        "Name":"Palash Mahanty",
        "Course":"Full Stack Development Usin Java"
    },
     {
        "Name":"Rahul Kumar Dutta",
        "Course":"Data Science Masters"
    }
]

# Inserting list of values
doc.insert_many(list_data)

##### Part-3: Using find_one() method.<br>

In [9]:
# Finding only one data
print("{:40} {:40}".format("Name","Course Enrolled\n"))
data=doc.find_one()
print("{:40} {:40}".format(data["Name"],data["Course"]))

Name                                     Course Enrolled

Abhay Singh                              Data Science Masters

##### Part-4: Using find() method.<br>

In [10]:
# Finding all data
print("{:40} {:40}".format("Name","Course Enrolled\n"))
for data in doc.find():
    print("{:40} {:40}".format(data["Name"],data["Course"]))

Name                                     Course Enrolled

Abhay Singh                              Data Science Masters
Md. Zaid Ahmed                           Full Stack Development
Palash Mahanty                           Full Stack Development Usin Java
Rahul Kumar Dutta                        Data Science Masters

# 5.

The __find()__ is used to fetch all the data that are available there in the collection specified. It is called upon the collection, from which we want to get data, using dot operator.
- Example: We will use the collection defined in the Ques-3 to fetch and print all the data,

In [11]:
# Finding all data
print("{:40} {:40}".format("Name","Course Enrolled\n"))
for data in doc.find():
    print("{:40} {:40}".format(data["Name"],data["Course"]))

Name                                     Course Enrolled

Abhay Singh                              Data Science Masters
Md. Zaid Ahmed                           Full Stack Development
Palash Mahanty                           Full Stack Development Usin Java
Rahul Kumar Dutta                        Data Science Masters

# 6.

- The __sort()__ method is used to sort the data either in ascending or descending order.
- It takes field name as an argument to sort the data based on it.
- It can also takes other argument as 1 0r -1 to sort the data in either ascending or descending order.
- Example:

In [12]:
# Printing all data

# Without Sorting
print("Displaying Data Without Sorting\n")
print("{:40} {:40}".format("Name","Course Enrolled\n"))
for data in doc.find():
    print("{:40} {:40}".format(data["Name"],data["Course"]))

Displaying Data Without Sorting

Name                                     Course Enrolled

Abhay Singh                              Data Science Masters
Md. Zaid Ahmed                           Full Stack Development
Palash Mahanty                           Full Stack Development Usin Java
Rahul Kumar Dutta                        Data Science Masters

In [16]:
# With Sorting In Ascending Order
print("Displaying Data With Sorting In Ascending Order\n")
print("{:40} {:40}".format("Name","Course Enrolled\n"))
for data in doc.find().sort("Name",1):
    print("{:40} {:40}".format(data["Name"],data["Course"]))

Displaying Data With Sorting In Ascending Order

Name                                     Course Enrolled

Abhay Singh                              Data Science Masters
Md. Zaid Ahmed                           Full Stack Development
Palash Mahanty                           Full Stack Development Usin Java
Rahul Kumar Dutta                        Data Science Masters

In [15]:
# With Sorting In Descending Order
print("Displaying Data With Sorting In Descending Order\n")
print("{:40} {:40}".format("Name","Course Enrolled\n"))
for data in doc.find().sort("Name",-1):
    print("{:40} {:40}".format(data["Name"],data["Course"]))

Displaying Data With Sorting In Descending Order

Name                                     Course Enrolled

Rahul Kumar Dutta                        Data Science Masters
Palash Mahanty                           Full Stack Development Usin Java
Md. Zaid Ahmed                           Full Stack Development
Abhay Singh                              Data Science Masters

# 7.

__(i) delete_one():__ <br>
- It is used to delete only one document.
- It takes query object as an argument that specifies which document to be deleted.
__(i) delete_many():__ <br>
- It is used to delete more than one document.
- It takes query object as an argument that specifies documents to be deleted that match the criteria.
__(i) drop():__ <br>
- It used to delete the whole collection.
- It returns true if the collection is deleted or false otherwise.