# Assignment Answers

# 1.

In [ ]:
# Importing Library
import pandas as pd

In [ ]:
# Declaring a list type variable to convert into pandas series data type
List=[4,8,15,16,23,42]
# Type Checking
type(List)

In [ ]:
# To pandas series
series1 = pd.Series(List)
# Displaying
print("Series is : \n", series1)
print("Type : ",type(series1))

# 2.

In [ ]:
# Importing Library
import pandas as pd

In [ ]:
# Declaring a list type variable to convert into pandas series data type
List=list(range(5,15))
# Type Checking
type(List)

In [ ]:
# To pandas series
series2 = pd.Series(List)
# Displaying
print("Series is : \n", series2)
print("Type : ",type(series2))

# 3.

In [ ]:
# Importing Library
import pandas as pd

In [ ]:
# Declaring a dictionary type variable to convert into pandas dataframe data type
Dict={
       "Name"   : ["Alice","Bob","Claire"],
       "Age"    : [25,30,27],
       "Gender" : ["Female","Male","Female"]
     }
# Type Checking
type(Dict)

In [ ]:
# To pandas dataframe
df = pd.DataFrame(Dict)
# Displaying
print("DataFrame is : \n", df)
print("Type : ",type(df))

# 4.

##### Part-1:<br><br>
- The Pandas DataFrame is a two-dimensional framework with scalable columns and rows. 
- We can consider it a dictionary of Series items as well.
<br><br>
##### Part-2:<br><br>
- The difference between DataFrame and Series is that, a dataframe can be made of more than one series, or we can say that a dataframe is a collection of series that can be used to analyse the data. 
- Whereas, Series can only hold a single list with an index.
<br><br>
- Example

- For DataFrame

In [ ]:
# Declaring a dictionary type variable to convert into pandas dataframe data type
Dict={
       "Name"   : ["Alice","Bob","Claire"],
       "Age"    : [25,30,27],
       "Gender" : ["Female","Male","Female"]
     }
# To pandas dataframe
df = pd.DataFrame(Dict)
# Displaying
print("DataFrame is : \n", df)
print("Type : ",type(df))

- For Series

In [ ]:
# Declaring a list type variable to convert into pandas series data type
List=list(range(5,15))
# To pandas series
series2 = pd.Series(List)
# Displaying
print("Series is : \n", series2)
print("Type : ",type(series2))

# 5.

Some common functions that we can use to manipulate data in a Pands DatFrame are:<br><br>
1. head():
- It is used to fetch/display the rows of a DataFrame.
- It fetches first five rows at default, but we can pass an argument as to specify number of rows we wanted to be fetched.
- It can be used when we only want limited number of rows and that also from the start.
2. tail():
- It is used to fetch/display the rows of a DataFrame.
- It fetches last five rows at default, but we can pass an argument as to specify number of rows we wanted to be fetched.
- It can be used when we only want limited number of rows and that also from the end.
3. dtypes:
- It is used to describe the data types for each column present in the dataframe.
- It can be used to tell us the data types of the columns before performing any operations.
4. describe():
- It is used to generate descriptive statistics of the data in a Pandas DataFrame. 
- It helps in getting a quick overview of the dataset.
- It can be used when we want short statistical summary of the data present in DataFrames.
5. iloc():
- It takes as a parameter the rows and column indices and gives you the subset of the DataFrame accordingly.
- It can be used when we want specified rows and columns for data manipulation.

# 6.

1. Series:
- It is not size mutable i.e., size can't be changed.
- While, its data can be changed.
2. DataFrame:
- It is size mutable i.e., its size can be changed.
- And, its data can also be changed.
3. Panel:
- It is size mutable i.e., its size can be changed.
- And, its data can also be changed.

# 7.

In [ ]:
# Importing Libraries
import pandas as pd

In [ ]:
# Declaring multiple series
s1 = pd.Series(["Alice","Bob","Claire"])
s2 = pd.Series([25,30,27])
s3 = pd.Series(["Female","Male","Female"])

# Creating DataFrame
df = pd.DataFrame({"Name" : s1, "Age" : s2, "Gender" : s3})

In [ ]:
# Displaying DataFrame
print("DatFrame is : \n",df)