# Assignment Answers

# 1.

##### Part-1:<br><br>
A database is basically a repository which is used to store data in a systematic and structured form, so that they can be accessed easily.<br><br>
##### Part-2:<br><br>
__(i) SQL__<br>
- It is used to store data in the form of tables i.e., rows and columns.
- It uses predefined schemas to store data.
- It is a type Relational Database Management System(RDBMS).
- MySQL, MS SQL, Oracle are some of the examples of SQL.<br><br>
__(ii) NoSQL__<br>
- It can store data in the form documents, JSON, wide columns, etc.
- It does not use predefined schema ts.
- It is a type of Non-Relational Database Sytem(Non-RDBMS) or Distributed Database Systems.
- MongoDB, Cassandra, Neo4j are some of the examples of NoSQL.

# 2.

The SQL statements that can be used to specify the database schema constitute DDL, or Data Definition Language. It is used to create and modify the structure of database objects in the database and only works with descriptions of the database schema. Although data cannot be created, modified, or deleted with DDL, database structures can.<br><br>

__(i) CREATE__: It is used to create the database or its objects like table, index, function, views, store procedure, and triggers.<br>
- Example: Suppose we want to create a Student table having fname, lname, roll_no, phone_no, as its column.

In [ ]:
CREATE TABLE if not exists Student(fname VARCHAR(20), lname VARCHAR(20), roll_no INTEGER, phone_no INTEGER);

__(ii) DROP__: It is used to delete objects from the database. <br>
- Example: Suppose there is a Student table having fname, lname, roll_no, phone_no, as its column.

In [ ]:
DROP TABLE Student;

__(iii) ALTER__: It is used to alter the structure of the database. <br>
- Example: Suppose there is a Student table having fname, lname, roll_no, phone_no, as its column, and we want to add another column named email.

In [ ]:
ALTER TABLE Student ADD email VARCHAR(50);

__(iv) TRUNCATE__: It is used to remove all records from a table, including all spaces allocated for the records are removed. <br>
- Example: Suppose there is a Student table having fname, lname, roll_no, phone_no, as its column, and we want to delete all records from it .

In [ ]:
TRUNCATE TABLE Student;

# 3.

The majority of SQL statements are part of DML, or Data Manipulation Language, which is used to manipulate data that is present in databases. It is part of the SQL statement in charge of managing database and data access.<br><br>

__(i) INSERT__: It is used to insert data into a table.<br>
- Example: Suppose there is a Student table having fname, lname, roll_no, phone_no, as its column.

In [ ]:
INSERT INTO Student("Abhay","Singh",140,8877665544);

__(ii) UPDATE__:  It is used to update existing data of row or column within a table. <br>
- Example: Suppose there is a Student table having fname, lname, roll_no, phone_no, as its column.

In [ ]:
UPDATE Student SET fname="Amrit" WHERE roll_n0=140;

__(iii) DELETE__: It is used to delete records from a database table. <br>
- Example: Suppose there is a Student table having fname, lname, roll_no, phone_no, as its column.

In [ ]:
DELETE FROM Student WHERE roll_no=140;

# 4.

DQL statements are used to run queries on the information contained in schema objects. The DQL Command's objective is to obtain a schema relation based on the query that is supplied to it. It can be explained as follows: It's part of a SQL statement that enables retrieving data from a database and applying order to it.<br><br>

__(i) SELECT__: It is used to retrieve data from the database.<br><br>
Example: Let's suppose there is a table named "Student" and we want to select all the column from the table. Then query goes as follows,

In [ ]:
SELECT * FROM Student;

# 5.

__(i)Primary Key__ <br>
- It is a single or a group of two or more columns in a relational database table.
- It contains unique and non-null values.
- It is used to uniquely identify all the records in a given relation.
- It can either be part of the existing column in table or can be explicitly created.<br><br>
__(ii) Foreign Key__ <br>
- It is also a single or a group of two or more columns in a relational database table.
- It may contain duplicate or null values.
- It is used to used to establish a relationship between two or more tables.
- Those colums can be designated as foreign key, which contains common data from two or more tables.

# 6.

##### Part-1:<br>
To connect MySQL to python follow the given below steps.<br>
__STEP-1:__ At first, import mysql.connector

__STEP-2:__ Then establish a connection using the __connect()__ method, where we need to specify __host__, __user__, and __password__. And connection will be established.

In [ ]:
# Importing library
import mysql.connector as Connector

In [ ]:
# Establishing connection
connection= Connector.connect(
    host="localhost"    # give proper host name,
    user="abc"          # provide correct user name, and
    password="password" # provide correct password
)

__STEP-3:__ Finally, we can define a cursor object to execute our query.

In [ ]:
# Defining cursor
Cursor=connection.cursor()

##### Part-2:<br><br>
__(i) cursor__<br>
- It is used to return a cursor object which helps to execute the query and fetch the records from the database.
- The cursor plays a very important role in executing the query. 
- Example:<br>

In [ ]:
# Importing library
import mysql.connector as Connector

# Establishing connection
connection= Connector.connect(
    host="localhost"    # give proper host name,
    user="abc"          # provide correct user name, and
    password="password" # provide correct password
)

# Defining cursor
Cursor=connection.cursor()

__(ii) execute__<br>
- This method helps us to execute the query and return records according to the query.
- Example:<br>

In [ ]:
# Importing library
import mysql.connector as Connector

# Establishing connection
connection= Connector.connect(
    host="localhost"    # give proper host name,
    user="abc"          # provide correct user name, and
    password="password" # provide correct password
)

# Defining cursor
Cursor=connection.cursor()

# Executing query
Cursor.execute("SELECT * FROM Table_Name")

# 7.

The SQL order of execution defines the order in which the clauses of a query are evaluated. The order in which SQL Clauses are evaluated is give below.<br><br>
__1. FROM/JOIN__: The FROM and/or JOIN clauses are executed first to determine the data of interest.

__2. WHERE__: The WHERE clause is executed to filter out records that do not meet the constraints.

__3. GROUP BY__: The GROUP BY clause is executed to group the data based on the values in one or more columns.

__4. HAVING__: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

__5. SELECT__: The SELECT clause is executed to derive all desired columns and expressions.

__6. ORDER BY__: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

__7. LIMIT/OFFSET__: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.